

:root {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    --bg: #EBEBEB;
    --black: #333333;
    --blue:  #0075ff;
    --prog: #A4B7BE;
    --sidemenubg: #959595;
}


html, body {
    background: var(--bg);
    color: var(--black);
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

.player {
    width: 100%;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidemenubg);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2vh;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--bg);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

#songsList {
    border: #333333;
}

.song_element {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  padding: 10px 10px 5px 5px;
}

.header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.header > .button {
    width: 2rem;
    height: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    /*color: var(--black);*/
    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  4px 4px 7px #cccccc, 
                 -4px -4px 7px #ffffff;
    border-radius: 6px;
}

.img-container {
    margin-top: 2vh;
    height: 38vh;
    display: grid;
    place-items: center;
}

.art {
    width: 50%;
    height: auto;
    max-height: 100%;
}

.info {
    margin-top: 1vh;
    height: 15vh;
}

.info h1 {
    height: 70%;
    color: var(--black);
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.info p {
    height: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.15rem;
}

.moving {

    height: 30%;
    white-space: nowrap;

    /* animation */
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);  
    transform:translateX(100%);

    /* Apply animation to this element */  
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
    0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);     
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}

.prog {
    margin-top: 3vh;
    height: 10vh;
}

.progress-bar-container {
    display: grid;
    place-items: center;
}

.prog-time {
    padding: 3px 5px;
    color: var(--prog);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.prog-time > p {
    font-size: 0.65rem;
}

#left_time {
    padding-left: 20px;
}

#right_time {
    padding-right: 20px;
}

#seekbar {

    width: 90%;
    height: 15px;
    border-radius: 25px;
    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  5px 5px 10px #a5a5a5, 
                -5px -5px 10px #ffffff;
}

#audio_player {
    width: 80vw;
}

.toolbar {
    margin-top: 1vh;
    height: 20vh;
}

ul {
    width: 100%;
    height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /*color: var(--prog);*/
    color: var(--black);
    border-radius: 50%;
    /*border: 2px solid var(--black);*/
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #d4d4d4, 
                -5px -5px 10px #ffffff;
}

.button-sm {
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
}

.button-md {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.85;
}
.button-lg {
    width: 3.25rem;
    height: 3.25rem;
    box-shadow: inset 6px 6px 12px #c8c8c8, 
            inset -6px -6px 12px #ffffff
}